@charset "UTF-8";
/* CSS Document */

/***************
sizing
***************/
#nav {
	/* navigation bar width
	/* = number of options * menu option width */
	width:966px;
	
	/* navigation bar height */
	height:25px;
}
#nav li,
#nav li ul,
#nav li ul li,
#nav li ul li ul,
#nav li ul li ul li {
	/* menu option width */
	width:138px;
}

/***************
menus
***************/
/* bar */
#nav {
	border:1px solid #FFF;
}
/* all levels */
#nav,
#nav li ul,
#nav li ul li ul {
	z-index:99999;
	
	/* infrastructure */
	padding:0px;
	margin:0px;
	list-style:none;
}
/* submenus */
#nav li ul,
#nav li ul li ul {
	border-style:solid;
	border-color: #000;
	
	/* infrastructure */
	display:none;    /* top:999em; /**/
	position:absolute;
	border-width:1px;
}
/* level 2 */
#nav li ul {
	/* infrastructure */
	border-top:none;
	left:-1px;
}
/* level 3 */
#nav li ul li ul {
	/* 3rd level border color correction
	/* = rollover border color */
	border-top-color: #FFF;
	
	/* This must come after 3rd level border color correction, otherwise it modifies the black border around the menu instead.
	/* = rollover border style */
	border-top-style:solid;
		
	/* 3rd level offset
	/* = rollover resize width */
	left:136px;
	
	/* infrastructure */
	top:-1px;
	border-top-width: 1px;
}

/***************
menu options
***************/
/* Menu items (li) handle positioning. */
#nav li,
#nav li ul li,
#nav li ul li ul li {
	/* infrastructure */
	float:left;
	position:relative;
}
/* Links (a) handle styling. */
#nav li a,
#nav li ul li a,
#nav li ul li ul li a {
	text-align:center;
	color:#FFF;
	letter-spacing: 1px;
	font:normal 11px Verdana, Arial, Helvetica;
	
	/* menu option background */
	background-color:#222;
	
	/* menu option height
	/* = navigation bar height - (menu option padding) */
	height:15px;
	
	/* menu option padding */
	padding:5px 0px;
	
	/* infrastructure */
	width:100%;
	display:block;
}
/* Superfish submenu indicator correction */
#nav span {
	vertical-align: top;
}

/***************
submenu rollover
***************/
/* Show submenu on rollover. */
#nav li:hover ul,
#nav li:hover ul li:hover ul,
#nav li.sfHover ul,
#nav li.sfHover ul li.sfHover ul {
	/* infrastructure */
	display:block;   /* top:auto; /**/
}
/* Prevent rolling over level 1 from unhiding level 3. */
#nav li:hover ul li ul,
#nav li.sfHover ul li ul {
	/* infrastructure */
	display:none;    /* top:999em; /**/
}

/***************
rollover effects
***************/
#nav li:hover a,
#nav li:hover ul li:hover a,
#nav li:hover ul li:hover ul li:hover a,
#nav li.sfHover a,
#nav li.sfHover ul li.sfHover a,
#nav li.sfHover ul li.sfHover ul li.sfHover a {
	background-color:#666;
	
	/* rollover border style */
	border-style:solid;
	
	/* rollover border color */
	border-color: #FFF;
	
	/* rollover resize width
	/* = menu option width - (2 * rollover border width) */
	width:136px;
	
	/* rollover border width */
	border-width: 1px;
	
	/* structure */
	border-top:none;
}
/* Prevent a menu from changing a submenu on rollover. */
#nav li:hover ul li a,
#nav li:hover ul li:hover ul li a {
	/* submenu color correction
	/* = menu option background */
	background-color:#222;
}
