<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>database access</key>
	<true/>
	<key>Facebook integration</key>
	<true/>
	<key>front-end management</key>
	<false/>
	<key>Google AdSense</key>
	<false/>
	<key>Google Places</key>
	<true/>
	<key>Google Webmaster</key>
	<string>david.michael.tucker@gmail.com</string>
	<key>merchant services</key>
	<false/>
	<key>mobile device customization</key>
	<false/>
	<key>user accounts</key>
	<true/>
</dict>
</plist>
